body {
  background-color: black;
  color: white;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
}

#siteName{
  text-align: center;
}

.navMenuItems{
  font-size: clamp(10px, 20px, 30px);
}

.navMenuItems:hover{
  color: rgb(212, 212, 212);
  text-shadow: 2px,2px, black;
}

#navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2em;
  justify-content: space-evenly;
  background-color: green;
}

#navLinks > * {
  cursor: pointer;
}

#bannerSection{
  text-align: center;
  min-width: 100vw;
}

#menuBtn {
  width: 2em;
  aspect-ratio: 1/1;
  font-size: large;
  position: fixed;
  right: 0;
  top: 0;
}

#navLinks {
  display: none;
}

#sideMenu {
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: gray;
  width: 0;
  justify-self: right;
  overflow: hidden;
  align-items: center;
}

#sideMenu > div {
  cursor: pointer;
  padding-left: 1em;
  margin-bottom: .5em;
  font-size: clamp(10px, 20px, 30px);
}

#sideMenu > div:first-child {
  padding-top: 1em;
}

#sideMenu > div:hover {
  color: rgb(192, 192, 192);
}

#pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#linksSection {
  display: flex;
  flex-direction: column;
}

#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  justify-self: center;
  position: absolute;
  bottom: 0;
}

#social_media {
  text-align: center;
}

#social_media > a > img {
  height: 2em;
}

/* Modern Range Syntax (Supported in all 2026 browsers) */
@media (768px <= width) and (orientation: landscape) {
  #navLinks {
    display: flex;
    flex-direction: row;
  }

  #menuBtn {
    display: none;
  }
  /* Equivalent to min-width + orientation */
}

#mediaSection{
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
}

#mediaSection > *{
  min-width: 300px;
}

.headers {
  text-align: center;
  text-decoration: underline;
  font-size: clamp(10px, 20px, 30px);
}

#calendarContainer > *{
  display: flex;
  flex-direction: column;
}